<main>
    {{#if manage}}
        <div class="modal">
            <form class="content__top" method="post" action="/">
                <button class="content__btn content__btn--close" type="submit">
                    <i class="content__icon fa-solid fa-xmark"></i> 
                </button>
            </form>
            <ul class="manage">
                {{#manageType manage 'users'}}
                    {{#each @root.data}}
                        <li class="manage__item">
                            <span>{{this.email}}</span>
                            <select>
                                {{#each @root.roles}}
                                    <option value="{{this.id}}"{{#currentRole ../this.role_id.id this.id}} selected{{/currentRole}}>{{this.label}}</option>
                                {{/each}}
                            </select>
                        </li>
                    {{/each}}
                {{/manageType}}
                {{#manageType manage 'artists'}}
                    {{#each @root.artists}}
                        <li class="manage__item">
                            <span>{{this.name}}</span>
                        </li>
                    {{/each}}
                {{/manageType}} 
                {{#manageType manage 'albums'}}
                    {{#each @root.albums}}
                        <li class="manage__item">
                           <span>{{this.name}}</span>
                        </li>
                    {{/each}}
                {{/manageType}}  
                {{#manageType manage 'songs'}}
                    {{#each @root.songs}}
                        <li class="manage__item">
                            <span>{{this.name}}</span>
                        </li>
                    {{/each}}
                {{/manageType}}
                {{#manageType manage 'playlists'}}
                    {{#each @root.songs}}
                        <li class="manage__item">
                           <span>{{this.name}}</span>
                        </li>
                    {{/each}}
                {{/manageType}}
            </ul>
        </div>
    {{/if}}      
    <div class="sidebar">
        <div class="sidebar__item">
            <h1 class="item__title">Playlists</h1>
            <ul class="item__list">
                {{#each playlists}}
                    {{>card}}
                {{/each}}
            </ul>
        </div>
        <div class="sidebar__item">
            <h1 class="item__title">Artists</h1>
            <ul class="item__list">
                {{#each artists}}
                    {{>card}}
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="content">
        <form class="content__top" method="post" action="/logout">
            {{#isEditor role}}
            <section>
                <span class="content__span">Edit:</span>
                <button class="content__btn" type="submit" formaction="/?manage=users">Users</button>
                <button class="content__btn" type="submit" formaction="/?manage=artists">Artists</button>
                <button class="content__btn" type="submit" formaction="/?manage=albums">Albums</button>
                <button class="content__btn" type="submit" formaction="/?manage=songs">Songs</button>
                <button class="content__btn" type="submit" formaction="/?manage=playlists">Playlists</button>
            </section>
            {{/isEditor}}
            <button class="content__btn btn_logout" type="submit">Logout</button>
        </form>
        {{#with activePlaylist}}
            <div class="detail">
                <div class="detail__top">
                    <img class="detail__image" alt="playlist image" src="/assets/images/dream_widow.jpg">
                    <div>
                        <h1 class="detail__title">{{name}}</h1>
                        <span class="detail__owner">{{user_id.user_meta_id.username}}</span>
                    </div>
                </div>
            </div>
            <div class="main_content">
                <ol class="songs">
                    {{#each songs}}
                        <li class="song">
                            <h1 class="song__title">{{name}}</h1>
                            <span>-</span>
                            <span class="song__artist">{{artist_id.name}}</span>
                        </li>
                    {{/each}}
                </ol>
            </div>   
        {{/with}}
    </div>
</main>
<footer class="playing_song">
    <div class="playing_song__details">
        <h3 class="playing_song__title">Psychosocial</h3>
        <h4 class="playing_song__artist">Slipknot</h4>
    </div>
    <section class="playing_song__controls">
        <button class="playing_song__control">
            <img class="playing_song__icon" alt="shuffle icon" src="/assets/images/icons/btn_shuffle.svg">
        </button>
        <button class="playing_song__control">
            <img class="playing_song__icon" alt="previous song icon" src="/assets/images/icons/btn_previous.svg">
        </button>
        <button class="playing_song__control playing_song__control--play">
            <img class="playing_song__icon playing_song__icon--play" alt="play button icon" src="/assets/images/icons/btn_play.svg">
        </button>
        <button class="playing_song__control">
            <img class="playing_song__icon" alt="next song icon" src="/assets/images/icons/btn_next.svg">
        </button>
        <button class="playing_song__control">
            <img class="playing_song__icon" alt="loop icon" src="/assets/images/icons/btn_loop.svg">
        </button>
    </section>
    <div class="playing_song__padding"></div>
</footer>
<script type="module" src="/assets/scripts/app.js"></script>